* {
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 30px;
}


    /* set background color for body element to lightgray */
body {
    background-color: lightcyan;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    
}

header {
    padding: 40px;
    text-align: left;
    color: White;
}

    /* Anchor text decoration set to none to make for a cleaner look on the page and to also set the color of the text  */
a {
    text-decoration: none;
    color: #4E5180;
    margin: 0;
    padding: 0;
}

    /* styling added to make text display bold when the cursor is hovered over the link */
a:hover {
    font-weight: bold;
}

nav {
    display: flex;

}

    /* Sets the main container margin to 0px to help with formattting and layout of the webpage */
.main-container {
    margin: 0px;
}

    /* set color for elements as well as set text-decoration and the text-align */
nav a {
    color: white;
    text-decoration: none;
    text-align: justify;    
    padding: 14px 20px;
}

    /* added hover to anchors to make them bold when cursor is placed over the element */

nav a:hover {
    font-weight: bold;
    
}

    /* Container holding the header background image and the text */
.header-container {
    border-bottom: 4px solid white;
    border-radius: 10px 10px 0 0;
    background-image: url('../../images/header-image-1.jpg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    color: white;
    width: 100%;
    height: 200px;
    opacity: 0.7;
}


    /* Top left text position for web page title */
.top-left {
    position: absolute;
    top: 0;
    left: 16px;
    font-size: 150%;
}

    /* top right text for anchor elements, sizing and alignment */
.top-right {
    position: absolute;
    top: 0;
    right: 16px;
    font-size: 100%;
}

    /* Container for displaying the content for within the 'About Me' Section of the webpage */
.about-container {

    max-width: 2000px;
    height: auto;
    display: flex;
    flex: 1;
    background-color: #F0FFFF;
    margin: 0px;
    width: 100%;
}

main {
    margin-left: 10px;
    width: 100%;
}


    /* Container displaying content and links for the 'Work Section' of the webpage.  Clicking on the images will take to the selected page.
    Currently links and images are placeholder */
.work-container {
    max-width: 2000px;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: 	#F0FFFF;
    margin: 0px;
    width: 100%;
}

    /* Container for content within the 'Contact Me' section.  Flex used to display horizontally and not block */
.contact-container {
    max-width: 2000px;
    height: auto;
    display: flex;
    flex: 1;
    background-color: #F0FFFF;
    margin: 0px;
    width: 100%;
    align-items: center;
}

    /* Container containing the information within the 'Work' section, including
the image links */
.work-main {
    display: flex;
    flex-direction: row;
}
    /* Contains the smaller image links withing the 'Work-Main' container */
.small-image-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0px;
}
    /* Container for the big image link setting flex and margin for the image within the container */
.big-image-link {
    flex: 2 1 auto;
    margin-right: 0px; 
}

    /* Sets the properties for the big image link within the main work section */
.big-image-link img {
     width: 61vw;
     margin-right: 0px;
     margin-top: 0px;
}

    /* sets the margin for the small images to 0px to help with alignment and layout of the webpage */
.small-image-list {
    margin: 0px;
}
    
    /* sets margin and height for the small image link container */
.small-image-link {
    flex: 0 1 auto;
    margin: 0px;
    height: 33%;
}

    /* sets the properties for the small image links in the main 'Work' section */
.small-image-link img {
    width: 20vw;
    margin-right: 0px;
}

    /* Flex settings for the part of the webpage that displays 'Work' to the left of the big image in the middle */
.work-sidebar {
    flex: 0 0 auto;
}

    /* Container for the text, current displaying 'PlaceHolder' over the images for the link to display what page will it will be linked too */
.image-container {
    position: relative;
    text-align: center;
    color:#4E5180;
    margin-right: 0px;
}

    /* styling for the text that displays over the small image links  */
.small-image-text {
        position: absolute;
        top: 8px;
        left: 16px;
        background-color: white;
        padding: 5px;
        border-radius: 5px;
}

    /* styling for the text that displays over the big image link */
.big-image-text {
    position: absolute;
    top: 24px;
    left: 16px;
    font-size: 24pt;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

